.headquarters__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 72px;

}

.headquarters__block {
    max-width: 920px;
    padding-left: 85px;
    margin-bottom: 168px;
}

.headquarters__img {
    width: 40px;
    height: 50px;
    margin-bottom: 46px;
}

.headquarters__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headquarters__sub-title {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;

}

.headquarters__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.headquarters__sub-list {
    max-width: 285px;
}

@media screen and (max-width:900px) {
    .headquarters__block {
        padding-left: 0;
    }
}

@media screen and (max-width:700px) {
    .headquarters__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .headquarters__sub-list {
        max-width: 100%;
        margin-bottom: 80px;
    }

    .headquarters__title {
        text-align: center;
    }

    .headquarters__sub-title {
        font-size: 28px;
        line-height: 36px;
    }
}